<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传分数</title>
</head>
<body>
<form action="/" method="get">
    <label>客户端id</label><input type="text" name="cid">
    <label>起始</label><input type="text" name="start">
    <label>结束</label><input type="text" name="end">
    <input type="submit" value="搜索">
</form>
{#<a href="/">查看</a>#}
<a href="/postdata">新增</a>
<table border="1">
    <tr>

        <th>排名</th>
        <th>客户端</th>
        <th>分数</th>
    </tr>

    {% for index,cid, num in mydata %}
        <tr>
            <th>{{ index }}</th>
            <th>客户端{{ cid }}</th>
            <th>{{ num }}</th>
        </tr>
    {% endfor %}

</table>
</body>
</html>